.cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: var(--black);
  transition: all 0.2s ease;
}
.cart:hover {
  fill: var(--primary);
}
.icon {
  transform: scale(1.5);
}
.count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 700;
  border-radius: 50%;
  top: 0;
  right: 0;
}
