.wrapper {
  display: flex;
}
.quantity {
  margin-right: 12px;
}
.base {
  width: 24px;
  height: 24px;
  border: 1px solid var(--primary);
}
.button {
  composes: base;
  font-weight: 700;
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.button:first-of-type {
  border-radius: 4px 0 0 4px;
}
.button:last-of-type {
  border-radius: 0 4px 4px 0;
}
.button:hover {
  background-color: var(--primary-light);
}
.input {
  composes: base;
  border-right: none;
  border-left: none;
  text-align: center;
}
