.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 3fr 1fr;
  padding: 24px;
  gap: 24px;
  min-height: calc(100vh - var(--nav-height));
  animation: 0.4s ease-out 1 fadein;
}

.back {
  font-size: 20px;
  color: var(--grey);
  text-decoration: none;
  width: fit-content;
  transition: color 0.1s ease;
}
.back:hover {
  color: var(--grey-dark);
}

.imgwrapper {
  display: flex;
  justify-content: center;
  grid-row: 2 / 3;
  img {
    max-width: 396px;
    max-height: 500px;
    object-fit: contain;
  }
}

.textwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: 2 / 3;
  gap: 12px;
  max-width: 72ch;
}

.row {
  display: flex;
  align-items: center;
  gap: 24px;
}

.related {
  composes: row;
  border: 1px solid var(--grey-dark);
  width: fit-content;
  padding: 8px;
  border-radius: 4px;
}

.price {
  font-size: 20px;
  color: var(--price);
  font-weight: 500;
}
.more {
  display: flex;
  flex-direction: column;
  gap: 4px;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}
.preview {
  width: 64px;
  height: 108px;
  object-fit: contain;
}

@keyframes fadein {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
