.link {
  text-decoration: none;
  color: var(--black);
}
.card {
  width: 320px;
  height: 510px;
  padding: 8px;
  border: 1px solid var(--grey-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 7px -2px var(--grey-light);
  transition: all 0.1s ease;

  img {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
}

.card:hover {
  border-color: var(--primary);
  box-shadow: 0 1px 7px var(--primary);
}

.title {
  font-weight: 500;
  font-size: 1.25rem;
}

.price {
  composes: title;
  color: var(--price);
}
