.wrapper {
  display: flex;
  gap: 12px;
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to left,
    var(--white),
    var(--grey-light),
    var(--grey),
    var(--grey-light),
    var(--white)
  );
  div:nth-child(3) {
    display: flex;
    align-items: center;
  }
}
.wrapper:last-child {
  border-bottom: 1px solid;
}
.img {
  width: 60px;
  height: 120px;
  object-fit: contain;
}
.innerWrap {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.price {
  font-weight: 500;
  color: var(--price);
}
