.modal:open {
  position: fixed;
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.3s ease-out allow-discrete;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  border: 1px solid var(--grey);
  padding: 24px;
}
.modal {
  opacity: 0;
  transform: translateY(25px);
}
@starting-style {
  .modal:open {
    opacity: 0;
    transform: translateY(25px);
  }
}
.modal:open::backdrop {
  background-color: var(--black);
  opacity: 0.5;
  transition: all 0.3s ease-out allow-discrete;
}
.modal::backdrop {
  background-color: transparent;
}
@starting-style {
  .modal:open::backdrop {
    background-color: transparent;
  }
}
.close {
  position: absolute;
  background: none;
  border: none;
  top: 0;
  right: 0;
  color: var(--grey-light);
  font-size: 1.5rem;
  transition: color 0.15s ease;
  margin-right: 4px;
}
.close:hover {
  color: var(--grey);
}
.price {
  font-weight: 500;
  color: var(--price);
}
.buttons {
  display: flex;
  gap: 12px;
  button {
    width: 190px;
  }
}
.items {
  overflow-y: scroll;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to left,
    var(--white),
    var(--grey-light),
    var(--grey),
    var(--grey-light),
    var(--white)
  );
  div:first-child {
    border-top: none;
  }
  div:last-child {
    border-bottom: none;
  }
}
