.modal:open {
  position: fixed;
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.3s ease-out allow-discrete;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  border: 1px solid var(--grey);
  padding: 24px;
}
.modal {
  opacity: 0;
  transform: translateY(25px);
}
@starting-style {
  .modal:open {
    opacity: 0;
    transform: translateY(25px);
  }
}
.modal:open::backdrop {
  background-color: var(--black);
  opacity: 0.5;
  transition: all 0.3s ease-out allow-discrete;
}
.modal::backdrop {
  background-color: transparent;
}
@starting-style {
  .modal:open::backdrop {
    background-color: transparent;
  }
}
.close {
  position: absolute;
  background: none;
  border: none;
  top: 0;
  right: 0;
  color: var(--grey-light);
  font-size: 1.5rem;
  transition: color 0.15s ease;
}
.close:hover {
  color: var(--grey);
}
