@font-face {
  font-family: "Work Sans";
  src:
    url("./assets/fonts/WorkSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src:
    url("./assets/fonts/WorkSans-Bold.woff2") format("woff2"),
    url("./assets/fonts/WorkSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src:
    url("./assets/fonts/WorkSans-Medium.woff2") format("woff2"),
    url("./assets/fonts/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src:
    url("./assets/fonts/WorkSans-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --white: #fdfaff;
  --black: #0d0c0e;
  --grey-dark: #3d3d3e;
  --grey: #5d5c5e;
  --grey-light: #908f90;
  --primary-light: #8f75c8;
  --primary: #7353ba;
  --nav-height: 58px;
  font-family:
    "Work Sans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: var(--white);
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#root {
  width: 100%;
  min-height: 100vh;
}
h1,
h2,
h3 {
  line-height: 1.1;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
}
